.container-home {
    position: relative;
    width: 1432px;
    height: 860px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #FDDA24 2px solid;
    background: #FFFFFF;
}
/* .title-home-contain {
    display: flex;
    width: 1078px;
    justify-content:space-between;
    align-self: center;
} */
.title-home-contain h2 {
    position: absolute;
    width: 122px;
    height: 23px;
    left: 177px;
    top: 265px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #494949;
}
.add-currency-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2px 20px;
    position: absolute;
    width: 186px;
    height: 38px;
    left: 1069px;
    top: 254px;
    background: #FDDA24;
    border-radius: 60px;
    border: none;
}
.add-currency-btn p {
    position: static;
    width: 146px;
    height: 21px;
    left: 0px;
    top: 0px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.3px;
    color: #292929;
}
.container-home hr {
    position: absolute;
    width: 1074.5px;
    height: 0px;
    left: 179px;
    top: 304.5px;
    border: 1px solid #DEDEDE;
}
 .table-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 1078px;
    height: 235px;
    left: 177px;
    top: 344px;
} 
.table-title {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    padding: 0px;
    position: static;
    width: 1078px;
    height: 64px;
    left: 0px;
    top: 0px;
    background: #F4F4F4;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}
.table-title th {
    position: static;
    height: 21px;
    left: 32px;
    top: calc(50% - 21px/2);
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: -0.3px;
    color: #2C2A29;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 8px;
}
.hash-title {
    flex-direction: row;
    align-items: center;
    padding: 21px 32px;
    width: 160px;
    height: 63px;
    left: 0px;
    top: 0px;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
    right: 117px;
}
.hash-title label {
    
}
.symbol-title {
    flex-direction: row;
    align-items: center;
    padding: 21px 32px;
    width: 292px;
    height: 63px;
    left: 160px;
    top: 0px;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
    right: 199px;

}
.name-title {
    flex-direction: row;
    align-items: center;
    padding: 21px 32px;
    position: static;
    width: 200px;
    height: 63px;
    left: 452px;
    top: 0px;
    order: 2;
    flex-grow: 0;
    margin: 0px 0px;
    right: 105px;
}
.exchange-rate-title {
    flex-direction: row;
    align-items: center;
    padding: 21px 32px;
    position: static;
    width: 200px;
    height: 63px;
    left: 652px;
    top: 0px;
    order: 3;
    flex-grow: 0;
    margin: 0px 0px;
    right: 52px;
}
.empty-box-title {
    display: flex;
flex-direction: row;
align-items: center;
padding: 21px 32px;
position: static;
width: 292px;
height: 63px;
left: 160px;
top: 0px;
flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;
}
.delete-edit-btn button {
    border: none;
    background: none;
}
.delete-edit-btn img {
    width: 16px;
    height: 16px;
}